body {
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    text-align: center;
    width: 100%;
    line-height: 60px; /*Vertically center the text there*/
    background-color: #f5f5f5;
    height: 2.5rem;
}

.col-form-label {
    color: white;
}

small {
    color: white;
}